* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

/* Estilos del contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    flex-direction: column; /* Alinea los botones en columna */
}

/* Estilos de los botones */
.btn {
    background-color: #6f00ff; /* Color de fondo */
    border: none;
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn:hover {
    background-color: #0003b3; /* Color de fondo al pasar el ratón */
}